/* all */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    font-family: 'Fraunces', serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}
/* container */
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
header{
    margin-bottom: 135px;
}
/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
/* all */
.all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
/* nav-list */
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
/* nav-link */
.nav-link{
    text-decoration: none;
    color: #101828;
    transition: all .3s ease;
}
/* nav-link-hover */
.nav-link:hover{
    color: #006D77;
}
/* button */
.button{
    background: #101828;
    border-radius: 47px;
    text-decoration: none;
    padding: 13px 20px;
    color: #fff;
    border: 1.5px solid #000;
    transition: all .7s ease;
}
/* button-hover */
.button:hover{
    background: #fff;
    border: 1.5px solid #000 transparent;
    color: #000;
}
/* button-active */
.button:active{
    transition: all .0s ease;
    color: grey;
}
/* menu-icon */
.menu-icon{
    display: none;
    font-size: 32px;
}
/* main-section */
.main-section{
    margin-bottom: 127px;
}
/* text__main */
.text__main{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 26px;
    color: #98A2B3;
    margin-bottom: 49px;
}
/* text-pr */
.text__pr{
    width: 572px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #101828;
    margin-bottom: 43px;
}
/* text-pr2 */
.text__paragraph{
    width: 549px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #475467;
    margin-bottom: 47px;
}
/* button */
.button__two{
    background: #101828;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 13px 25px;
    border: 1.5px solid #000;
    transition: all .7s ease;
}
/* button-hover */
.button__two:hover{
    background: #fff;
    border: 1.5px solid #000 transparent;
    color: #101828;
}
/* button3 */
.button__three{
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    color: #101828;
    border-radius: 3px;
    padding: 13px 25px;
    border: 1.5px solid #101828 transparent;
    transition: all .7s ease;
}
/* button__three:hover */
.button__three:hover{
    border: 1.5px solid #101828;
}
/* button2 */
.button2{
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    gap: 31px;
}
/* all__logo-img */
.all__logo-img{
    display: flex;
    align-items: center;
    gap: 55px;
}
/* logo-two */
.logo__two{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* img-watch */
.watch{
    z-index: -1;
}
/* all2 */
.all2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* tv-section */
/* all3 */
.all3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 103px;
}
/* tv-cards */
.tv__cards{
    display: flex;
    gap: 5px;
    border: 1px solid #E4E7EC;
    box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
    border-radius: 6px;
    width: 350px;
    padding: 30px 20px;
    transition: all .7s ease;
}
/* tv-cards:hover */
.tv__cards:hover{
    box-shadow: 5px 10px 10px 3px #d6d7d9d0;
    cursor: pointer;
}
/* pods-card */
.pods__card{
    padding: 27px 20px;
}
/* tv-text */
.tv__text{
    width: 218px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #323A4B;
}
/* tv-pr */
.tv__pr{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #101828;
}
/* section-cards-carusel */

/* smart-text h2 */
.smart__text h2{
    width: 477px;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #101828;
    margin-bottom: 60px;
}
/* all4 */
.all4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 113px;
}
.game__watch{
    border: 1px solid #E4E7EC;
    box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
    border-radius: 6px;
    padding: 20px 15px;
    transition: all .7s ease;
    width: 255px;
}
/* all4:hover */
.game__watch:hover{
    box-shadow: 5px 10px 10px 4px #d6d7d9d0;
    cursor: pointer;
}
/* img-vector */
.img__vector{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
/* smart-text */
.smart__text{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* sony__text */
.sony__text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #576071;
    margin-bottom: 5px;
}
/* sony__pr */
.sony__pr{
    width: 218px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #323A4B;
    margin-bottom: 10px;
}
/* vector__all */
.vector__img{
    margin-bottom: 10px;
}
/* button__money */
.button__money{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #006D77;
}
/* button__3 */
.button3{
    background: #BEE1E6;
    border-radius: 6px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-decoration: none;
    padding: 0px 15px;
    color: #006D77;
    border: 1.5px solid #BEE1E6;
    transition: all .5s ease;
}
/* button3:hover */
.button3:hover{
    background-color: #fff;
    border: 1px solid #006D77 transparent;
}
/* button__star */
.button__star{
    display: flex;
    align-items: center;
    gap: 90px;
}
/* email-section */

/* all */
.all5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 56px;
}
/* all5 h2 */
.all5 h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #101828;
    text-align: center;
}
/* all p */
.all5 p{
    width: 522px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #475467;
    text-align: center;
}
/* section__pupular */

/* popular__cards-item */

/* responsive */
@media only screen and (max-width:1170px){
    .nav-list{
        display: flex;
        gap: 60px;
    }
}

@media only screen and (max-width:1135px){
    .watch{
        width: 420px;
    }
    .text__pr{
        font-size: 35px;
    }
    .text__paragraph{
        width: 100%;
    }
}

@media only screen and (max-width:1125px){
    .watch{
        width: 380px;
    }
    .text__pr{
        font-size: 33px;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:1125px){
    .all3{
        flex-direction: column;
        gap: 20px;
    }
    .tv__cards{
        padding: 15px 10px;
        width: 500px;
        justify-content: center;
        gap: 50px;
    }
}

@media only screen and (max-width:995px){
    .nav-list{
        gap: 40px;
    }
}

@media only screen and (max-width:930px){
    .nav-list{
        gap: 30px;
    }
    .navbar{
        gap: 30px;
    }
}

@media only screen and (max-width:855px){
    .text__main{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .logo__two img{
        width: 65px;
    }
}

@media only screen and (max-width:835px){
    .all2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .text__main{
        text-align: center;
    }
    .text__paragraph{
        text-align: center;
    }
    .text__pr{
        text-align: center;
    }
    .button2{
        justify-content: center;
    }
    .all__logo-img{
        justify-content: center;
    }
}

@media only screen and (max-width:775px){
    .navbar{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}

@media only screen and (max-width:595px){
    .all5 p{
        width: 100%;
    }
    .all5 h2{
        width: 100%;
    }
}

@media only screen and (max-width:575px){
    .all3{
        flex-direction: column;
        gap: 20px;
    }
    .tv__cards{
        padding: 15px 10px;
        width: 400px;
        justify-content: center;
        gap: 30px;
    }
}

@media only screen and (max-width:435px){
    .logo__two{
        flex-direction: column;
    }
    .tv__cards{
        padding: 15px 10px;
        width: 350px;
        justify-content: center;
        gap: 20px;
    }
}

@media only screen and (max-width:385px){
    .watch{
        width: 300px;
    }
    .text__main{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .text__paragraph{
        font-size: 15px;
    }
    .text__pr{
        font-size: 25px;
    }
    .tv__cards{
        padding: 10px 10px;
        width: 320px;
        justify-content: center;
        gap: 5px;
    }
}

@media only screen and (max-width:365px){
    .button__two{
        padding: 9px 10px;
    }
    .button__three{
        padding: 9px 10px;
    }
}

@media only screen and (max-width:335px){
    .tv__cards{
        padding: 10px 10px;
        width: 315px;
        justify-content: center;
        gap: 5px;
    }
}